<link rel="stylesheet" href="/css/calendar.css">

<div class="calendar-title">{{year}}년 {{month}}월</div>

<div class="calendar-container">

    <!-- 요일 -->
    <div class="calendar-grid fw-bold weekday-row">
        <div>일</div><div>월</div><div>화</div><div>수</div><div>목</div><div>금</div><div>토</div>
    </div>

    <!-- 날짜 셀 -->
    <div class="calendar-grid mt-2">
        {{#days}}
            {{#empty}}<div></div>{{/empty}}
            {{^empty}}
                <div class="calendar-cell">
                    <div>{{day}}</div>
                    {{#diaries}}
                        <a href="/diaries/view/{{id}}"><span>{{mood}}</span></a>
                    {{/diaries}}
                </div>
            {{/empty}}
        {{/days}}
    </div>

</div>

<div class="button-group">
    <a href="/diaries/new" class="btn btn-today">☀️ 오늘해쓰기</a>
    <a href="/diaries/list" class="btn btn-back">🔙 목록으로</a>
</div>
