@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Jua&family=Noto+Sans+KR:wght@100..900&family=Syncopate:wght@400;700&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.title span {
    color: #1f1f1f;
    font-size: 40px;
    font-family: 'Jua', sans-serif !important;
    font-weight: bold;
}

.diary-box {
    background-color: #9997FF;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
}

.diary-card {
    background-color: #FBFBFB;
    border-radius: 10px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border: none;
}

.diary-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.diary-card a {
    color: #6f42c1;
    text-decoration: none;
    font-weight: 500;
}

.diary-card a:hover {
    text-decoration: underline;
}

.diary-meta {
    font-size: 0.8rem;
    color: #666;
    text-align: right;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
}

.button-group .btn {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: bold;
}


.btn-today {
    background-color: #9997FF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}

.btn-today:hover {
    background-color: #7786F2;
}

.btn-gather {
    background-color: #F2F2F2;
    color: #333;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}

.btn-gather:hover {
    background-color: #9997FF;
}

.btn-logout {
    background-color: #7786F2;
    color: #6f42c1;
    border: none;
    padding: 10px 20px;
}

.btn-logout:hover {
    background-color: #9997FF;
}
