@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Jua&family=Noto+Sans+KR:wght@100..900&family=Syncopate:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.diary-wrapper {
    background-color: #9997FF;
    padding: 20px;
    border-radius: 25px;
    margin-top: 2rem;
}

.diary-header {
    background-color: #FBFBFB;
    padding: 15px 25px;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.diary-title {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6f42c1;
    margin-left: 10px;
}

.diary-meta {
    font-size: 1rem;
    color: #555;
    margin-top: 0.5rem;
    margin-left: 12px;
}

.diary-content {
    font-size: 1.05rem;
    margin-top: 2rem;
    background-color: #FBFBFB;
    padding: 20px;
    border-radius: 10px;
    white-space: pre-line;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    margin-top: 1rem;
}

.btn-edit {
    background-color: #488E72;
    color: white;
}

.btn-delete {
    background-color: #7786F2;
    color: #6f42c1;
}

.btn-back {
    background-color: #F2F2F2;
    color: #333;
}

.btn-edit:hover {
    background-color: #6f42c1;
}

.btn-delete:hover {
    background-color: #f1c0c4;
}

.btn-back:hover {
    background-color: #ddcd84;
}
.btn-today {
    background-color: #9997FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 6px;
}

.btn-today:hover {
    background-color: #6f42c1;
}

.btn-gather {
    background-color: #F2F2F2;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 6px;
}

.btn-gather:hover {
    background-color: #7786F2;
}

.btn-logout {
    background-color: #7786F2;
    color: #6f42c1;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 6px;
}

.btn-logout:hover {
    background-color: #9997FF;
}
