<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/sign.css?v=2">
</head>

<body>
<div class="container">

    <div class="left-panel">
        <!-- 동영상 추가 -->
        <div class="video-container">
            <video autoplay loop muted playsinline>
                <source src="/video/log.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="intro-box">
            <div class="intro">
                <h2>Let's Kick Now!</h2>
                <p>It's Easy and takes less than 30 seconds.</p>
            </div>
        </div>
        <a href="/" class="btn-back">
            <i class="fas fa-angle-left"></i> HOME
        </a>
    </div>


    <div class="right-panel">
        <div class="form-box">
            <h2>SIGN IN</h2>
            <form action="/login" method="post">

                {{#globalErrorMessage}}
                    <div class="field-error" style="margin-bottom: 10px; text-align: center;">
                        {{globalErrorMessage}}
                    </div>
                {{/globalErrorMessage}}

                <div class="form-field">
                    <input type="text" name="loginId" placeholder="ID"
                           onfocus="this.placeholder=''" onblur="this.placeholder='ID'">
                    {{#loginIdError}}
                        <div class="field-error">{{loginIdError}}</div>
                    {{/loginIdError}}
                </div>

                <div class="form-field">
                    <input type="password" name="password" placeholder="Password"
                           onfocus="this.placeholder=''" onblur="this.placeholder='Password'">
                    {{#passwordError}}
                        <div class="field-error">{{passwordError}}</div>
                    {{/passwordError}}
                </div>

                <button type="submit" class="btn-sign">Sign In</button>
                <p>Haven't an account? <a href="http://localhost:8080/members/add">Sign Up</a></p>
            </form>

        </div>
    </div>
</div>
</body>
</html>
